[Unit]
Description=PHP-FPM Node Exporter
After=network.target

[Service]
Type=simple
User={{ php_fpm_exporter_system_user }}
Group={{ php_fpm_exporter_system_group }}
Nice=-5
ExecStart=/usr/local/bin/php_fpm_exporter \
    --addr {{ php_fpm_exporter_export_ip }}:{{ item.export_port }} \
{% if item.fastcgi_endpoint is defined %}
    --fastcgi {{ item.fastcgi_endpoint }}
{% endif -%}
{% if item.http_endpoint is defined %}
    --endpoint {{ item.http_endpoint }}
{% endif %}



SyslogIdentifier=php_fpm_exporter
Restart=always

[Install]
WantedBy=multi-user.target